{% extends "base.html" %}


{% block content %}
<div class="titulo">
  <head>
    <h1><strong><b id="shadow">Sistema de Recomendação e classificação de textos</b></strong></h1>
    <h2 style="text-align: center;"><font face="Calibri"><b> <u>Recomendação</u></b></font></h2>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <h1 style="text-align: center;"><span style="color: #0000ff;"></span></h1>
  </head>
</div>
<form action="{{url_for('recomen')}}" method='POST'>
  <h1 style="text-align: center;"><input type="text" , name ="x1" placeholder = "Digite o nome de usuário", style="width: 300px; height: 30px;" /></h1>

  <h1 style="text-align: center;"><button type= "submit" class= "btn btn-primary btn-block btn-large">Usuário</button></h1>
</form>

<form action="{{url_for('recomen1')}}" method='POST'>
  <h1 style="text-align: center;"><input type="text" , name ="x1" placeholder = "Tema(Sports, Technology ou Politics)" required="required", style="width: 300px; height: 30px;" /></h1>

  <h1 style="text-align: center;"><button type= "submit" class= "btn btn-primary btn-block btn-large">Buscar texto</button></h1>
</form>

<h3 style="text-align: center;">{{boasvindas}}</h3>
<h2 style="text-align: center;"><strong>{{texto}}</strong></h2>  
<h2 style="text-align: center;"><strong>{{pred}}</strong></h2> 
<h2 style="text-align: center;"><strong>{{ava}}</strong></h2>

<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>



<form action="{{url_for('avali')}}" method='POST'>
  <h1 style="text-align: center;"><input type="text" , name ="x1" placeholder = "Avalie o texto com uma nota entre 0 e 5" required="required", style="width: 300px; height: 30px;" /></h1>

  <h1 style="text-align: center;"><button type= "submit" class= "btn btn-primary btn-block btn-large">Avaliar</button></h1>
</form>

<a href="{{url_for('tabela')}}"><h1 style="text-align: center;"><input type="button" value="Visualizar tabela Usuário-Item"></h1></a>
{% endblock %}